.debug .dashedB {
    border: 2px dashed black;
}



.debug .questions {
    background-color: pink;
}

.debug footer {
    background-color: peru;
}

.debug .footerColumns {
    background-color: green;
}

.debug .footerCol {
    background-color: aqua;
}