.debug .dashedB {
    border: 2px dashed black;
}


.debug .section {
    padding: 100px 0px;
}

.debug .containerJumbo {
    background-color: yellow;
}

.debug .jumboImg {
    height: 500px;
    width: 100%;
    background-color: red;
}

.debug .jumboLeft {
    height: 500px;
}

.debug .invoice {
    background-color: pink;
}

.debug .subscritions {
    background-color: lightgreen;
}

.debug .enterprise {
    background-color: pink;
}

.debug .contactPartner {
    background-color: lightgreen;
}

.debug .imgFinestrone {
    height: 400px;
    background-color: aqua;  
}

.debug .whiteBotton {
    background-color: white;
}

.debug .business {
    background-color: pink;
} 
.debug .bssImg {
    height: 200px;
    background-color: blueviolet;
}

.debug .bannerino {
    background-color: green;
    height: 200px;
}

.debug .bannerone {
    background-color: gray;
}

.debug .trial {
    background-color: aqua;
}

.debug .questions {
    background-color: pink;
}

.debug footer {
    background-color: peru;
}

.debug .footerColumns {
    background-color: green;
}

.debug .footerCol {
    background-color: aqua;
}