* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cl-white {
    filter: invert(1);
}

.textSize-18 {
    font-size: 18px;
}
.textSize-20{
    font-size: 20px;
}

.textSize-25{
    font-size: 25px;
}
.textSize-30{
    font-size: 30px;
}

.textSize-35 {
    font-size: 35px;
}

.textSize-40{
    font-size: 40px;
}

.text-black {
    color: black;
}

.colorGray {
    color: rgb(223, 223, 225);
}

.blueBotton {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 97, 255);
}

.whiteBotton {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
}

.padding-left-10px {
    padding-left: 10px;
}

.section {
    width: 1000px;
    margin: auto;
}

header {
    height: 70px;
    width: 100%;
    background-color: white;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
}

.navHead {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;

}

.navHead a {
    padding: 5px 10px;
    text-decoration: none;
}

.jumbotron {
    background-color: rgb(180, 208, 231);
    padding-top: 80px;
}

.jumbotron h1 {
    padding: 60px 0px 40px;
    font-size: 100px;
    max-width: 1270px;
    margin: auto;
}

.containerJumbo {
    display: flex;
    max-width: 1270px;
    margin: auto;
}

.jumboLeft {
    width: 30%;
}

.jumboRight {
    width: 70%;
    position: relative;
}

.jumboImg {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
}

.jumboLeft p {
    padding: 30px 0px;


}

.jumboBotton {
    padding: 10px;
}

.fa-arrow-down{
    font-size: 40px;
    padding: 80px 0px 10px;
    color: black;
}

.invoice {
    padding: 130px 0px 30px;
}

.chooseInvoice {
    padding: 20px 0px;
}

.circle {
    display: inline-block;
    border: 1px solid rgb(223, 223, 225);
    border-radius: 50%;
    height: 14px;
    width: 14px;
}

.blueCircle {
    display: inline-block;
    border: 3px solid blue;
    border-radius: 50%;
    height: 14px;
    width: 14px;
}

.invoiceType{
    display: inline-block;
    padding-right: 30px;
}

.subscritions {
    display: flex;
    justify-content: space-between;
}

.plansContainer {
    border: 1px solid rgb(223, 223, 225);
    width: 30%;
    
}

.plan {
    text-align: center;
    border-bottom: 1px solid rgb(223, 223, 225);
    padding: 10px 0px;
}

.planContainer {
    padding: 35px;
}

.planContainer h3 {
    padding-bottom: 20px;
}

.planContainer .price {
    font-weight: bold;
    padding-bottom: 10px;
}

.planContainer .planType {
    padding-bottom: 40px;
}

.planContainer .utenti {
    padding-bottom: 15px;
}

.planContainer .spazio {
    padding-bottom: 15px;
}

.planContainer .funzioni {
    padding-bottom: 30px;
    border-bottom: 1px;
}

.planContainer .blueBotton {
    text-align: center;
    display: block;
    margin: auto;
    width: 90%;
    padding: 10px 0px;
}

.planContainer .buy {
    padding: 30px 0px;
}

.planContainer .greyline {
    width: 50px;
    border-bottom: 1px solid rgb(223, 223, 225);
}

.planContainer .points {
    font-weight: bold;
    padding: 40px 0px 30px;
}

.planContainer .vantaggi {
    padding: 10px 0px 10px 10px;
}

.contactOffice h3 {
    padding-bottom: 20px;
}

.contactOffice div {
    padding-bottom: 20px;
}


.contact {
    border: 1px solid rgb(223, 223, 225);
    margin: 30px 0px;
}

.planCard {
    display: flex;
}

.contactOffice {
    width: 70%;
    padding: 35px;
}

.planBotton {
    width: 30%;
    padding: 35px;
}

.planBotton .blueBotton {
    text-align: center;
    display: block;
    margin: auto;
    width: 90%;
    padding: 10px 0px;
}

.contactPartner{
   display: flex;
   padding: 50px 0px;
}

.imgFinestrone {
    width: 60%;  
}

.joinDropbox {
    width: 40%;
    overflow-y: auto;
    padding: 45px;
}

.joinDropbox h2 {
    padding-bottom: 30px;
}

.joinDropbox p {
    padding-bottom: 40px;
}

.business h2 {
    padding: 30px 0px;
}

.bssContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bssCard {
    width: 30%;
    padding-bottom: 40px;
}

.bssImg {
    width: 100%;
    padding-bottom: 20px;
}

.bssCard h3 {
    padding-bottom: 20px;
}

#teams {
    width: 50%;
    padding: 50px 0px 30px;
}

.isolated {
    padding-bottom: 100px;
}

.isolated a {
    color: blue;
}

.sponsor {
    width: 100%;
    display: flex;
    height: calc(100vw / 3);
}

.bannerSponsors {
    width: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.bannerino {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerino img {
    height: 60%;
    width: 60%;
}

#uof {
    background-color: rgb(0, 147, 206);
}

#uof img {
    height: 10%;
}

#dsit {
    background-color: rgb(162, 211, 155);
}

#asu {
    background-color: rgb(97, 8, 43);
}

#topps {
    background-color: rgb(255, 28, 28);
}

#wbr {
    background-color: rgb(213, 0, 31);
}

#hearst {
    background-color: rgb(180, 208, 231);
}

#lp {
    background-color: rgb(13, 36, 129);
}

#clch {
    background-color: rgb(255, 216, 48);
}

.bannerone {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    padding: 50px;
    overflow: auto;
}

.bannerone .greyline {
   width: 100px;
   height: 2px;
   background-color: rgb(223, 223, 225);
}

.bannerone p {
   padding: 30px 0px;
}



.designit {
    height: 130px;
    padding-bottom: 40px;
}

.trial {
    background-color: rgb(180, 208, 231);
}

.bring {
    padding: 100px 0px;
    position: relative;
}

.bring h2 {
    color: rgb(97, 8, 43);
    width: 50%;
    position: absolute;
    left: 0px;
    top: 50px;
}

.bring .trialBotton {
    position: absolute;
    right: 0px;
    top: 61px;
}

.trialBotton .whiteBotton {
    padding: 5px 40px;
    background-color: white;
}

.questionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    
}

.questions {
    padding: 100px 0px;
}

.questions h3 {
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.question {
    padding: 30px 0px;
}

.questions p {
   display: none;
}

.openAnswer {
    padding: 0px 40px;
   
}

.footerColumns {
    display: flex;
    padding: 100px 0px;
}

.footerCol {
    width: 20%;
}

.footerCol h3 {
    color: white;
    padding-bottom: 15px;
}

.footerCol li {
    color: white;
    list-style: none;
    padding: 5px 0px;
}

.footerCol a {
    color: white;
    text-decoration: none;
}

.footerContainer {
    width: 1270px;
    margin: auto;
}

footer .whiteline {
    width: 100px;
    border-bottom: 1px solid white;
}

#changeLan {
    padding: 40px 0px;
}

#changeLan a {
    color: grey;
    text-decoration: none;
    font-size: 12px;
}

footer {
    background-color: black;
}