* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blueBotton {
    text-decoration: none;
    color: white;
    background-color: blue;
}

.section {
    width: 60vw;
    margin: auto;
}

header {
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.navHead {
    display: flex;
    align-items: center;
}

.navHead a {
    padding: 5px 10px;
    
}

.jumbotron {
    background-color: aquamarine;
}

.jumbotron h1 {
    padding: 60px 0px 40px;
    text-align: center;
}

.containerJumbo {
    display: flex;
    max-width: 70vw;
    margin: auto;
}

.jumboLeft {
    width: 40%;
}

.jumboRight {
    width: 60%;
    position: relative;
}

.jumboImg {
    position: absolute;
    top: 30px;
    left: 0px;
}

.invoice {
    padding-top: 100px;
}

.chooseInvoice {
padding: 20px 0px;
}

.circle {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    height: 14px;
    width: 14px;
}

.blueCircle {
    display: inline-block;
    border: 3px solid blue;
    border-radius: 50%;
    height: 14px;
    width: 14px;
}

.invoiceType{
    display: inline-block;
    padding-right: 20px;
}

.subscritions {
    display: flex;
    justify-content: space-between;
}

.planContainer {
    border: 1px solid black;
    width: 32%;
    
}

.plan {
    text-align: center;
    border-bottom: 1px solid black;
}


.planContainer .blueBotton {
    text-align: center;
    display: block;
    margin: 0px 80px;
}

.contact {
    border: 1px solid black
}

.planCard {
    display: flex;
}

.contactOffice {
    width: 68%;
}

.contact .blueBotton {
    text-align: center;
    display: block;
    margin: 0px 80px;
}